* {
    font=font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
}

body {
    background-color: rgb(182, 182, 231);
    background-image: -moz-radial-gradient();

}

main {
    background-color: rgb(238, 238, 206);
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px rgb(238, 203, 172);
}